/* Set up color variables for the web-page */

$clr-background: #151515;
$clr-general-txt: #aaaaaa;
$clr-cards: #1E1E1E;

$clr-accent-1: #02C9AF;
$clr-accent-2: #049CE4;
$clr-accent-3: #FE00EC;

$clr-form-border: #4A88C7;