/* Set up font family variable */
$ff: 'Open Sans', sans-serif;

/* Set up font-weight used for styling of the web-page */
$fw-small: 300;
$fw-regular: 400;
$fw-bold: 700;

/*  Set up font-sizes used for styling of the web-page */
$fs-dt-reg: 1.25rem;
$fs-m-reg: 1rem;
$fs-dt-nav: 1.5rem;
$fs-m-nav: 1.25rem;
$fs-dt-headline: 2.5rem;
$fs-m-headline: 1.5rem;
$fs-m-button: 1.5rem;
$fs-dt-blog-title: 1.5rem;
$fs-m-blog-title: 1.25rem;
$fs-dt-welcome: 2rem;
$fs-m-welcome: 1.5rem;
$fs-blog-date: 0.85rem;
$fs-dt-blog-date:1rem;
$fs-dt-name: 3.5rem;
$fs-m-name: 2.5rem;

